<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bekar.Com</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bekar.Com.styles.css" asp-append-version="true" />


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="~/css/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="style.css">*@
    <title>Document</title>
    <style>
        .c {
            background: repeating-linear-gradient(Dely 3s #78d39475, #6e93beaf);
        }
    </style>
</head>
@*<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Bekar.Com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Bekar.Com - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>*@

<body>
    <section class="header c">
        <!--logo-->
        <div class="Hchild logo">
            <div class="logoPC"></div>
        </div>
        <!--Users And login Section-->
        <div class="Hchild users">
            <span style="padding: 3px;  color: white; font-style: oblique; font-size: 2rem;">We work with Unemployed Person</span>
            <div class=" userChild">
                <a href="">      <i class="far fa-user " style=" font-size: 40px;"></i>      </a>  &nbsp;&nbsp;
                <a href="">     <i class="far fa-sign-in-alt" style="font-size: 30px; padding: 5px;"></i>   </a> &nbsp;
                <a href>         <i class="far fa-user-plus" style="font-size: 30px; padding: 5px;"></i>      </a>
            </div>
        </div>
    </section>
    <!--Content in body And sidebar-->
    <section>
        <div class="main ">
            <div class=" sidebar  ">
                <h4>Demo</h4>
                <div class="SNavbar">
                    <div class="NavChild "> <i class="fad fa-home navIcon"></i> <a href="">Main</a></div>
                    <div class="NavChild "> <i class="fad fa-eject navIcon"></i> <a href="">About</a></div>
                    <div class="NavChild "> <i class="fad fa-clone navIcon"></i> <a href="">Dely Post</a></div>
                    <div class="NavChild "> <i class="fad fa-graduation-cap navIcon"></i> <a href="">Courses</a></div>
                    <div class="NavChild "> <i class="fad fa-user-graduate navIcon"></i> <a href="">My Course</a></div>
                    <div class="NavChild "> <i class="fad fa-map-marked navIcon"></i> <a href="">Job Sector</a></div>
                    <div class="NavChild "> <i class="fad fa-link navIcon"></i> <a href="">Creat Chain</a></div>
                    <div class="NavChild "> <i class="fad fa-thumbs-up navIcon"></i> <a href="">Dream Success Histpry</a></div>
                    <div class="NavChild "> <i class="fad fa-road navIcon"></i> <a href="">Success Roadmap</a></div>
                    <div class="NavChild "> <i class="fad fa-handshake navIcon"></i> <a href="">Job Placement List</a></div>
                    <div class="NavChild "> <i class="fad fa-laptop navIcon"></i> <a href="">Apply as an Intern</a></div>
                    <div class="NavChild "> <i class="fad fa-id-badge navIcon"></i> <a href="">Creat Your Profile</a></div>
                    <div class="NavChild "> <i class="fad fa-microchip navIcon"></i> <a href="">Get Update Technology </a></div>
                    <div class="NavChild "> <i class="fad fa-people-carry navIcon"></i> <a href="">Help</a></div>
                    <div class="NavChild "> <i class="fad fa-gem navIcon"></i> <a href="">FAQ</a></div>




                </div>
            </div>
            <!--Content-->
            <div class="  content  ">
                <div class="container">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </section>
    <section class="footer">
    </section>

</body>

</html>
